@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

.App {
  text-align: center;
  background-color: white;
}

.brand-name {
  font-family: 'Lobster', cursive;
}

.product-card {
  transition: all 0.5s ease-in-out;
}

.product-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.add-cart-btn {
  border: 1px solid blue;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.add-cart-btn:hover {
  background-color: rgb(25, 25, 255);
  color: white;
}

.remove-cart-btn {
  border: 1px solid rgb(195, 32, 18);
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.remove-cart-btn:hover {
  background-color: rgb(195, 32, 18);
  color: white;
}

.minusBtn {
  background-color: rgb(211, 176, 0);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.minusBtn:hover {
  background-color: rgb(255, 255, 255);
    height: 33px;
    width: 33px;
    border-radius: 50%;
    color: rgb(211, 176, 0);
}

.plusBtn {
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.plusBtn:hover {
  background-color: rgb(255, 255, 255);
  height: 33px;
  width: 33px;
  border-radius: 50%;
  color: blue;
}

.remove-btn {
  border: 1px solid blue;
  background-color: white;
  color: blue;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  transition: all 0.5s ease-in-out;
}

.remove-btn:hover {
  border: 1px solid rgb(181, 9, 9);
  background-color: rgb(181, 9, 9);
  color: white;
}

.subscribe-btn {
  background: transparent;
  border-radius: 5px;
}

.menu-text {
  cursor: pointer;
  color: white;
}

.menu-text:hover {
  cursor: pointer;
  color: aqua;
}

.buttonHover {
  cursor: pointer;
  color: white;
}

.buttonHover:hover {
  color: #61dafb;
}

.active {
  color: white;
}

.check-out {
  border: 2px solid rgb(68, 68, 227);
  background-color: white;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  padding: 2px;
  width: 270px;
  color: rgb(68, 68, 227);
  font-size: 20px;
  box-shadow: 0px 0px 34px 0px #e8e8e8;
}

.check-out:hover {
  background-color: rgb(68, 68, 227);
  color: white;
}


.card-price {
  display: inline-block;

  width: auto;
  height: 38px;

  background-color: #6ab070;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #6ab070;

  /* This makes room for the triangle */
  margin-left: 19px;

  position: relative;

  color: white;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;
}

/* Makes the triangle */
.card-price:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #6ab070;
}

/* Makes the circle */
.card-price:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

.detail-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.search-view {
    position: absolute;
    right: 11%;
    top: 70px;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    overflow: scroll;
}

.search-card {
  box-shadow: 0px 0px 3px 0px #474747;
}

.search-card :hover {
  background-color: rgb(76, 76, 76);
  cursor: pointer;
}

.login-profile {
  cursor: pointer;
  color: #b6b6b6;
}


.login {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.login h1 {
  font-family: 'Lobster', cursive;
}

.profile-view {
  position: absolute;
  right: 8%;
  top: 70px;
  height: auto;
  width: 300px;
  background-color: white;
}

@media screen and (max-width: 480px) {
  .search-view {
      position: absolute;
      right: 0px;
      top: 210px;
      height: 100vh;
      width: 100%;
      border-radius: 10px;
      overflow: scroll;
    }
    .profile-view{
      right: 0px;
        top: 310px;
        height: auto;
        width: 100%;
        overflow: scroll;
    }
}

@media screen and (min-width: 480px) and (max-width: 991px) {
  .search-view {
      position: absolute;
      right: 16%;
      top: 210px;
      height: 400px;
      width: 300px;
      border-radius: 10px;
      overflow: scroll;
  }
    .profile-view {
      position: absolute;
      right: 13%;
      top: 210px;
      height: auto;
      width: 300px;
      background-color: white;
    }
}